In [1]:
import yaml
import pandas as pd
import os
all_data=[]
folder_path=r"C:\Users\vasan\Desktop\New folder"
for folder in os.listdir(folder_path):
    folder_n=os.path.join(folder_path,folder)
    if os.path.isdir(folder_n):
        for foldername in os.listdir(folder_n):
            if foldername.endswith(".yaml"):
                file_path=os.path.join(folder_n,foldername)
                try:
                    with open(file_path,"r")as yaml_file:
                        data=yaml.safe_load(yaml_file)
                    if isinstance(data,list):
                        all_data.extend(data)
                except Exception as e:
                    print(f"error{file_path}:{e}")

In [2]:
df=pd.DataFrame(all_data)
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [3]:
path=(r"C:\Users\vasan\Desktop\Stock_ Analysis_miniproject_2\all_datas.csv")
df.to_csv(path,index=False)

In [34]:
Ticker=pd.read_csv(r"C:\Users\vasan\Desktop\New folder\Ticker.csv")
Tic=Ticker['Ticker']
for i in Tic:
    rows = df[df['Ticker'] == i]
    path=(f"C:/Users/vasan/Desktop/project 2/{i}.csv")
    rows.to_csv(path,index=False)